/*font stuff*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cutive+Mono&display=swap');

body{
    background-color: #F5F2EB;

    font-family: 'Cutive Mono';
    font-size: 18px;
    color: #493827;
    margin: 0;
}

/* --------NAV BAR----------- */

nav{
    font-family: "Bebas Neue";
    display: flex;
    background-color: #493827;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.logo img{
    position: absolute;
    top: 7px;
    left: 16px;
    width: 5em;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.nav-links li{
    list-style: none
  }
nav > ul > li{
    display: inline;
}
nav > ul > li > a {
    color: #F5F2EB;
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    margin: 3px;
}
nav > ul > li > a:hover {
    color: #F5F2EB;
    background-color: #7ab6cd;
}

/*----------LINKS----------*/

a {
    color: #1D84B5;
}
a:hover{
    color: #F5F2EB;
    background-color: #7ab6cd;
}


/*-----------MAIN----------*/

h1, h2, h3{
    font-family: 'Bebas Neue';
    text-align: center;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 28px;
}
h3 {
    font-size: 26px;
}


section > ul{
    list-style-type: none;
    width: 150px;
}
section > ul > li{
    padding-bottom: 3px;
}

table{
    border-style: none;
    border-collapse: collapse;
    border-color: #7AB6CD;
}
th {
    background-color: #F5F2EB;
    color: #493827;
    font-family: "bebas neue";
    font-size: 24px;
}
td{
    padding: 20px;
    text-align: center;
}


.topSection p{
    text-align: center;
    width: 50vw;
    margin: auto;
}


.notTopSection{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr ;
    margin-top: 40px;
    margin-bottom: 40px;
}


.notTopSection button{
    border-style: none;
    background-color: #176087;
    color: #F5F2EB;

    font-family: "Bebas Neue";
    font-size: 35px;
}

.notTopSection button:hover{
    background-color: #0A2239;
    color: #7AB6CD;
}

.booking{
    text-align: center;

}

.menu{
    text-align: center;
    grid-column: 3;
}

.logo2 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    padding-left: 2%;
    padding-top: 4%;

}

/*-----------FOOTER---------- */

footer{
    font-family: "Bebas Neue";
    bottom: 0;
    width: 100%;
    /* background-color: #493827; */
}
.foot{
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    bottom: 1vh;
    font-size: 15px;
    color: #493827;
}


.footer-links li{
    list-style: none;
}

.footer-links{
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.foot > a > img {
    width: 35px;
    height: 35px;
    padding: 20px;
}

footer > div > ul > li > a {
    color: #7ab6cd;
    letter-spacing: 2px;
    text-decoration: none;
    margin: 3px;
}

/*----------FORM ITEMS------------*/
input[type=text]{
    background-color: transparent;
    color: #493827;

    border-style: solid;
    border-width: 3px;
    border-color: #0A2239;
    border-top: none;
    border-left: none;
    border-right: none;

    font-family: "cutive mono";

    width: 100%;
}
input[type=email]{
    background-color: transparent;
    color: #493827;

    border-style: solid;
    border-width: 3px;
    border-color: #0A2239;
    border-top: none;
    border-left: none;
    border-right: none;

    font-family: "cutive mono";

    width: 100%;
}
input[type=button]{
    border-style: none;
    background-color: #176087;
    color: #F5F2EB;

    font-family: "Bebas Neue";
    font-size: 20px;
    text-align: center;
}
input[type=button]:hover{
    background-color: #0A2239;
    color: #7AB6CD;
}
textarea {
    background-color: transparent;
    color: #493827;

    border-style: solid;
    border-width: 3px;
    border-color: #0A2239;
    border-top: none;
    border-bottom: none;
    border-right: none;

    width: 100%;
    height: 100px;
    padding: 5px;

    font-family: "cutive mono";

    resize: none;
}

iframe {
    border-style: none;
    height: 45vh;
    width: 100%;
}

input[type=text]:focus{
    outline: none;
    border-color: #7ab6cd;
}
input[type=email]:focus{
    outline: none;
    border-color: #7ab6cd;
}
textarea:focus{
    outline: none;
    border-color: #7ab6cd;
}

/*--------MENU/FLEXBOX/GRID--------*/
.menuSection{
    display: flex;
    justify-content: center;
}
.menuSection > section {
    margin: 5%;
}
/*
.menuSection img {
    max-height: 20vw
}
.menuImage{
    background-image: url("images/espresso.jpg");
    background-repeat: no-repeat;
}
*/
/*---------UHHH, MISC?-----------*/
.innerList{
    list-style-position: inside;
    list-style-type: none;
}
.sandwich {
    text-align: center;
}
.darkBlueBg {
    background-color: #0A2239;
    color: #F5F2EB;
}
.normalBg {
    background-color: #F5F2EB;
    color: #493827;
}
.cssGrid2 {
    display: grid;
    grid-template-areas:
        'label content'
        'label content'
        'label content';
}
.cssGrid2label{
    font-family: "bebas neue";
    text-align: right;
    margin-right: 20px;
}

#scrollBtn{
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 4px;
    background: #7ab6cd;
    color: #F5F2EB;
}

#scrollBtn:hover{
    background-color: #0A2239;
    color: #7AB6CD;
}

/*-------------IDs---------------*/
#square {
    width: 15px;
    height: 15px;
    background-color: #0A2239;
    margin-right: 5px;
}
/*-------BACKGROUND IMAGES--------*/
#drinksImage{
    background-image: url("images/espresso.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: 0% 0%;

    height: 50vh;
    width: 100%;
}
#bakedGoodsImage{
    background-image: url("images/bananaBread.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: right;

    height: 40vh;
    width: 100%;
}
#sandwichImage{
    background-image: url("images/sandwich_new.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: 50% 0%;

    height: 45vh;
    width: 100%;
    margin: 0;
}
#bookingIceImage {
    background-image: url("images/brrWithMountains.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#bookingCpuImage {
    background-image: url("images/cpu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    height: 40vh;
    width: 100%;
    margin: 0;
}

#keyboardImg {
    background-image: url("images/typetypecoffee.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: left;

    height: 50vh;
    width: 100%;
    margin: 0;
}

#iceiceBABY {
    background-image: url("images/iceicebaby.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    height: 40vh;
    width: 100%;
    margin: 0;
}

#sandWICH {
    background-image: url("images/sandwich_new.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


    height: 50vh;
    width: 100%;
    margin-bottom: 30px ;
    margin-top: 20px ;
}

#GAMERBOY {
    background-image: url("images/cpu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


    height: 50vh;
    width: 100%;
    margin-bottom: 30px ;
    margin-top: 20px ;
}

.contactImage{
    background-image: url("images/moreIce.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    height: 10vh;
    width: 100%;
    margin: 0;
}
